* {
  display: flexbox;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New";
  color: black;
}

fieldset {
  background-color: darkcyan;
  border-style: dashed;
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  padding: 10px;
}

.submit {
  opacity: 0.5;
  border: none;
  padding: 10px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  fieldset {
    width: 30%;
  }
}

@media screen and (min-width: 480px) {
  fieldset {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  fieldset {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  fieldset {
    width: 100%;
  }
}
